@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');


.user{
    background-color: #5cdb95;
    color: #05386b;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

body{
    background-color: #5cdb95;
}